<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Team 1 Game</title>
  <link rel="shortcut icon" href="../background/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/game-device.css" />
</head>
<body>
  <div class="cloud cloud-1"></div>
  <div class="cloud cloud-2"></div>
  <div class="cloud cloud-3"></div>

  <main class="app">
    <section class="team-panel blue-panel">
    <h3 id="gameTeam">Team 1</h3>
    <div class="round-score" id="teamCorrect">0</div>
    <div class="question-box" id="question">? + ? = ?</div>
    <div class="answer-box" id="display">0</div>
    <div class="keypad" id="keypad"></div>
    </section>
    <div id="countdownOverlay" class="countdown-overlay">
     <div id="countdownText" class="countdown-text">WAIT</div>
    </div>
  </main>

    <script src="/socket.io/socket.io.js"></script>
    <script>
    window.TEAM_NUMBER = 1;
    </script>
    <script src="../js/game-device.js"></script>
  <script>
    if (window.io) {
      const socket = io();

      socket.on("reload-client", () => {
        location.reload();
      });
    }
  </script>
</body>
</html>