<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Main Screen</title>
  <link rel="shortcut icon" href="../background/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/setup.css" />
</head>
<body>
  <div class="cloud cloud-1"></div>
  <div class="cloud cloud-2"></div>
  <div class="cloud cloud-3"></div>
  <main class="app">
    <section class="setup-screen">
      <h1>TUG OF WAR: MATH GAME</h1>
      <h2 class="setup-title">PREPARE THE TEAMS</h2>

      <section class="setup-card">
        <div class="team-setup">
          <div class="team-name-card blue-card">
            <div class="avatar">🧒</div>
            <h4>TEAM 1 BLUE</h4>
            <h2 id="team1Display">Team 1</h2>
          </div>

          <div class="versus">VS</div>

          <div class="team-name-card red-card">
            <div class="avatar">👦</div>
            <h4>TEAM 2 RED</h4>
            <h2 id="team2Display">Team 2</h2>
          </div>
        </div>
      </section>
    </section>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="../js/teams.js"></script>
</body>
</html>